.header-disclaimer {
  position: absolute;
  top:0;
  z-index:5;  
  width:100%;  
  background-color:#FFF;    
  opacity:0.8;
  
  & .content {
    position:relative;
    margin:0 auto;    
    width:87%;   
    font-family:"Raleway", Raleway, sans-serif;
    font-size:0.9rem;
    text-align:center;
    display:flex;    
    line-height:35px;
    font-weight:400;

    @mixin atSmall {
      font-size:1rem;
      
    }
  }

  & .covid19policy {
    width:90%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    
  }
  & .more {
    width:5%;
  }
}