.header-disclaimer {
  position: absolute;
  top:0;  
  width:100%;  
  background-color:#FFF;    
  opacity:0.7;
  
  & .content {
    position:relative;
    margin:0 auto;    
    width:87%;       
    font-size:1rem;
    font-stretch: condensed;
    text-align:center;
    display:flex;    
    line-height:36px;
    font-weight:600;
    color:#333;

    @mixin atMedium {
      font-size:0.9rem;    
    }
  }

  & .covid19policy {
    width:90%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    
  }
  & .more {
    width:5%;
  }
}