.mainlogo {
  position:absolute; 
  left:50%;
  z-index:2;
  text-align:center;      
  margin:0 auto;
  max-width:150px;
  width:20%;  
  bottom:-30px;
  
  
  &_medium {
    display:none;    
  } 

  @mixin atLarge {
    position:absolute;
    top:3.31rem;
    left:9.93%;
    margin:0;
    background-color:rgba(#FFF,0);
    border-radius:0;
    transform:translate(0px);

    &_medium {
      display:block;
    }

    &_small {
      display:none;
    }
  }
}