.menu {
  position:relative;
  top:4rem;
  z-index:2;
  color:#FFF;
  display:none;
  

  & ul {    
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  & ul li {
    margin-right:1.31rem;
  }

  @mixin atLarge {
    display:block;    
  }
}