.social-media {
  transform: translateY(10%);
  margin:0 auto;
  text-align:center;
  font-weight:bold;
  padding:20px;

  & i {
    font-size:2rem;
    margin-right:15px;
    color:$mainBlue;
  }

  & p {
    font-size:0.8rem;
  }
  & img {
    max-width:120px;
  }
}