.welcomepage {
  position:relative;
  text-align:center;
  width:95%;
  margin:0 auto 40px;  

  & p {    
    width:100%;
    margin:20px auto;
    line-height:1.1rem;
    font-weight:500;
    font-size:.8rem;
    color:#333;
    
    @mixin atLarge {
      width:70%;
      line-height:1.5rem;      
      font-size:.9rem;
    }
  }

  & h3 {
    font-size:1.5rem;
    @mixin atLarge {
      font-size:1.69rem;
    }    
  }  
}